<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ТЧЭ-2 ЗСЖД</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
    <header>
        <h1>Эксплуатационное Локомотивное Депо "Омск"</h1>
        <hr />
    </header>

    <article>
        @RenderBody()
    </article>

    <footer>
        <hr />
        &copy; 2021 - ТЧЭ-2 ЗСЖД - Российские Железные Дороги
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/account.js"></script>
</body>
</html>