@using RailroadPortalClassLibrary
@model User

@{
    ViewData["Title"] = $"Почта подтверждена";
}


<div class="main">
    <div class="pageBlock" id="mainArticle" style="border: none;">
        <h3>Здравствуйте, @Model.FirstName @Model.MiddleName! Регистрация аккаунта прошла успешно для почты @Model.Email</h3>
    </div>
    <div class="pageBlock" id="mainMessages" style="border: none;">
        <p id="countdownMessage" style="color: gold" ;></p>
    </div>
</div>

<script>
    let seconds = 3;

    function ShowMessage(second) {
        $('#countdownMessage').text(`Окно закроется через ${second} секунд`);
    }

    let timerId = setInterval(function () {
        ShowMessage(seconds--);

        if (seconds < 0) {
            clearInterval(timerId);
            window.close();
        }

    }, 1000);
</script>