@{
    ViewData["Title"] = "ТЧЭ-2 ЗСЖД: Вход на сайт";
}


<main>
    <fieldset>
        <legend>Авторизация сотрудника ТЧЭ-2</legend>
        <input type="text" id="inpEmail" placeholder="Email" />
        <br />
        <input type="password" id="inpPassword" placeholder="Пароль" />
        <br />
        <button id="signInButton">Войти</button>
    </fieldset>
</main>
<div class="messageBlock">
    <p id="currentMessage">&nbsp;</p>
</div>