.main {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: "mH mH" "mN mA" "mN mM";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 7% 1fr 5%;
    height: 100%;
    grid-gap: 4px;
}

#mainHeader {
    grid-area: mH;
}

#mainNav {
    grid-area: mN;
    padding: 0;
    margin: 0;
}

#mainArticle {
    grid-area: mA;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#mainMessages {
    grid-area: mM;
}

#mainHeader, #mainMessages {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pageBlock {
    border: 1px solid #00ff21;
    border-radius: 5px;
}

#mainNav > p {
    cursor: pointer;
}

#mainNav > p:hover {
    color: #00ff21;
}

table {
    width: 90%;
    margin: 2% auto;
    border-radius: 4px;
}

table caption {
    background-color: #3f3c3c;
    border-bottom: 1px solid #ffd800;
    font-family: serpentine;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    color: gold;
}

table th {
    background-color: #484646;
    border-bottom: 2px solid #ffd800;
    color: #ff6a00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table td {
    padding-left: 20px;
    text-align: left;
}

.nap {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    display: none;
}

#currentUserFullName {
    color: #ffd800;
}

.headerMainNav {
    height: 4%;
    margin: 7px;
    border-radius: 3px;
    border-bottom: 1px solid #ffd800;
    font-family: serpentine;
    background-color: #2e2e2e;
    color: #ff6a00;
}

.mainNavButton,
#controlPanel>button {
    background-color: #fbe56c;
    width: 85%;
}

.mainNavButton:hover,
#controlPanel>button:hover,
#lowerBasement button:hover {
    background-color: #48ff5b;
}

.mainNavButton:active,
#controlPanel>button:active,
#lowerBasement button:active {
    background-color: #ff9600;
}

#infoDisplay {
    height: 95%;
}

#controlPanel {
    display: none;
    height: 5%;
}

#controlPanel>button {
    width: 33%;
    height: 20px;
    font-size: 0.9rem;
}

#paginationBlock {
    width: 80%;
    margin: 2px auto;
    padding: 0;
    display: none;
    flex-direction: row;
    align-content: flex-start;
}

#paginationMiddle {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 33px;
    align-content: center;
    justify-content: center;
}

#pageLeft,
#pageRight {
    width: 30%;
    cursor: pointer;
    transform: scale(1, -1);
}

#pageLeft {
    transform: scale(-1, 1);
}
