@using RailroadPortalClassLibrary
@model User

@{
    ViewData["Title"] = $"Личный кабинет";
}


<div class="main">
    <div class="pageBlock" id="mainHeader">
        <div class="statusBlock">[Статус]</div>
        <div class="fullNameBlock">
            <h3>Личный кабинет системного администратора: <span id="currentUserFullName">@Model.LastName @Model.FirstName @Model.MiddleName</span></h3>
        </div>
        <div class="logoutBlock">
            <button id="logout" title="Выйти из системы">Выход</button>
        </div>
    </div>
    <div class="pageBlock" id="mainNav">
        <div class="headerMainNav">
            <h3>Справочники</h3>
        </div>
        <button class="mainNavButton" id="employees">Сотрудники</button>
        <button class="mainNavButton" id="positions">Должности</button>
        <button class="mainNavButton" id="roles">Роли</button>
        <div class="headerMainNav">
            <h3>Архив</h3>
        </div>
        <button class="mainNavButton" id="archEmployees">Сотрудники</button>
        <button class="mainNavButton" id="archPositions">Должности</button>
        <button class="mainNavButton" id="archRoles">Роли</button>
        <div class="headerMainNav">
            <h3>Настройки</h3>
        </div>
        <button class="mainNavButton" id="siteEmail">Почта сайта</button>
    </div>
    <div class="pageBlock" id="mainArticle">
        <div id="infoDisplay"></div>
        <div id="paginationBlock">
            <div class="paginationPart" id="paginationLeftPart"><img src="~/images/arrow.png" id="pageLeft" title="Назад"/></div>
            <div id="paginationMiddle"></div>
            <div  class="paginationPart" id="paginationRightPart"><img src="~/images/arrow.png" id="pageRight" title="Вперёд" /></div>
        </div>
        <div id="controlPanel">
            <button id="addNewEntity">Добавить</button>
            <button id="updateEntity">Изменить</button>
            <button id="deleteEntity">Удалить</button>
        </div>
    </div>
    <div class="pageBlock" id="mainMessages"></div>
</div>

<div class="nap"></div>

<div class="pop-up-nameSetting">
    <fieldset>
        <legend>Укажите свои данные</legend>
        <input type="text" id="pop-up-lastname" placeholder="Фамилия" autocomplete="off" /><br />
        <input type="text" id="pop-up-firstname" placeholder="Имя" autocomplete="off" /><br />
        <input type="text" id="pop-up-middlename" placeholder="Отчество" autocomplete="off" /><br />
        <button id="pop-up-submitData">Сохранить</button>
    </fieldset>
    <p id="pop-up-currentMessage">&nbsp;</p>
</div>

<div class="pop-up-createNewEmployee">
    <div class="pop-up-createNewEmpl-block" id="headerBasement">
        <h3>Данные нового сотрудника</h3>
        <p>Регистрация аккаунта по Email: <input type="text" id="inpCreateEmail" placeholder="Email" autofocusa autocomplete="off" /></p>
        <hr />
    </div>
    <div class="pop-up-createNewEmpl-block">
        <fieldset>
            <legend>ФИО</legend>
            <input type="text" id="inpCreateLastName" placeholder="Фамилия" autocomplete="off" /><br />
            <input type="text" id="inpCreateFirstName" placeholder="Имя" autocomplete="off" /><br />
            <input type="text" id="inpCreateMiddleName" placeholder="Отчество" autocomplete="off" /><br />
        </fieldset>
    </div>
    <div class="pop-up-createNewEmpl-block" id="upperBasement">
        <p>Роль:&nbsp;<select id="selectRole"></select>&nbsp;Должность:&nbsp;<select id="selectPosition"></select></p>
    </div>
    <div class="pop-up-createNewEmpl-block" id="lowerBasement">
        <button id="executeUpdateEmployeeData">Сохранить</button>
        <button id="executeCreatingNewAccount">Создать</button>
        <button id="clearCreatingNewAccount">Очистить</button>
        <button id="cancelCreatingNewAccount">Отмена</button>
    </div>
</div>

<div class="pop-up-confirmEmployeeRemove">
    <p>Подтвердите операцию удаления сотрудника</p>
    <div class="confirmEmplRemove-buttons-block">
        <button id="employeeRemoveConfirmButton">Подтвердить</button>
        <button id="cancelEmployeeRemoveButton">Отмена</button>
    </div>
</div>