@{
    ViewData["Title"] = $"Личный кабинет";
}


<div class="main">
    <div class="pageBlock" id="mainHeader">
        <h3>Личный кабинет системного администратора</h3>
    </div>
    <div class="pageBlock" id="mainNav">
        <h3>Справочники</h3>
        <p id="employees">Сотрудники</p>
        <p id="positions">Должности</p>
    </div>
    <div class="pageBlock" id="mainArticle"></div>
    <div class="pageBlock" id="mainMessages"></div>
</div>